/* style.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 15px 20px;
  display: flex;
}

.logo {
  font-size: 20px;
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
